.story-container {
  border-radius: 10px;
  min-width: 280px;
  box-shadow: 10px 5px 10px #6d778c, -10px -5px 10px #6d778c;
  margin: 35px 20%;
}

.story-container:hover {
  transform: scale(1.1, 1.05);
  transition: transform 1s;
}

.story-header {
  padding-top: 10px;
  font-weight: bold;
}

.comments-container {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #6d778c, -5px -5px 5px #6d778c;
  margin: 15px 25%;
  padding: 10px 0;
}

.comment {
  display: flex;
  box-shadow: 2px 2px 2px #6d778c;
  border-radius: 5px;
  margin: 10px 30px;
  flex-wrap: wrap;
}

.comment small {
  min-width: 150px;
  text-align: start;
}

.details-container {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

small {
  padding: 0 10px;
}

small span {
  padding: 0 5px;
  color: green;
}

.spinner {
  margin: auto;
  border: 3px solid black;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E")
    1;
}

.link {
  color: red;
  position: fixed;
  top: 60vh;
}

.chart-link {
  right: 100px;
}

.home-link {
  left: 100px;
}
